<tr class="products_text">
	<td><h5><%= line_item.quantity %>&times;</h5></td>
	<td><h5><%= line_item.product.name %></h5></td>
	<td class="item_price"><h5><%= quid(line_item.total_price) %></h5></td>
</tr>