<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F0FFFF;
    color: black;
    text-align: center;
    font-weight: bold;
}
</style>

<div class="footer">
  <p> March 2018 The ATP App </p>
</div>